@media only screen and (min-width: 600px) {
  .toggle-button {
    display: none;
  }
}

.toggle-button {
  height: 38px;
  width: 40px;
  border: rgba(0,0,0,0.8) solid;
  border-radius: 4px;
  background: transparent;
  padding-bottom: 5px;
}

.toggle-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px rgba(0,0,0,0.8);
}
.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  height: 3px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  border-radius: 2px;
  margin-top: 5px;
}