.name-title {
  font-family: Arial, Helvetica, sans-serif;
  color: salmon;
  font-size: 10vh;
  margin: 0;
}

.name-container {
  background-color: azure;
}

.placeholder-content {
  background: black;
  display: flex;
  height: 500px;
  width: 50%;
}