@media only screen and (max-width: 600px) {
  .toolbar-nav-items {
    display: none;
  }
}

.toolbar {
  height: 64px;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}
.toolbar-navigation {
  display: flex;
  height: 100%;
  padding: 1rem;
  align-items: center;
}

.spacer {
  flex: 1;
}

.toolbar-nav-items ul {
  list-style: none;
  margin-right: 1rem;
  display: flex;
}
.toolbar-nav-items li {
  padding: 0 1rem;
}
.toolbar-nav-items a {
  color: salmon;
  text-decoration: none;
}
.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}