.toolbar {
  height: 64px;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.toolbar-navigation {
  display: flex;
  height: 100%;
  padding: 1rem;
  align-items: center;
  color: salmon !important;
}

.nav-link.active {
  font-weight: 600;
  color: salmon;
}

.toolbar-navigation a {
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.1s ease;
  &:hover {
    color: salmon; 
  }
}

.spacer {
  flex: 1;
}

.toolbar-nav-items a:hover,
.toolbar-nav-items a:active {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}